body {
	font-family : Helvetica;
	color : white;
	margin : 0 0;
}

header {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  min-height : 100vh;
  margin-bottom : 50px;
}

.img-circle {
	margin-top : 16%;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2),0 2px 10px 0 rgba(0,0,0,.12);
	width : 238px;
	height : 238px;
}

.name {
	font-family : Roboto;
	font-size: 80px;
  color: #fff;
  margin : 8px; 
  font-weight: lighter;
}

@media (max-width: 768px) {
  .name {
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 20px;
  }
}

.des {
	font-family : Helvetica;
	font-size: 30px;
  color: #fff;
  margin : 10px;
  font-weight : 550;
  text-align: center;
}

.detail {
	font-family : Roboto;
  color : rgba(255,255,255,.549);
  font-size: 18px;
  font-weight : 100;
  text-align : center;
}

.about-me {
	width : 100%;
	display : block;
}

.para {
	color : #000;
	font-size : 20px;
}

.title {
  font-family : Roboto;
  font-size: 75px;
  color: #000;
	color : black;
  font-weight: lighter;
	padding-top : 10px;
	padding-bottom : 20px;
}

@media (max-width: 768px) {
  .title {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 20px;
  }
}


.subtitle {
	font-size : 22px;
	font-weight : 600;
}

.white-text {
  color: #fff;
}

img.img-article {
	width : 100%;
}

.more-me {
	background-color : #F9F9F9;
	padding-top : 50px;
	padding-bottom : 50px;
	margin-top : 50px;
	margin-bottom : 50px;
}

.img-more-me {
	text-align : center;
}

.icon {
	padding-top: 32px;
}

.skills {
  width : 100%;
  display : block;
  padding-top : 50px;
  padding-bottom : 100px;
  margin-bottom : 30px;
  background : url("../img/skills_bg.png") no-repeat center center;
}

.separ {
  margin-top: 40px;
}

.icon-skills {
  text-align : center;
  padding-top : 56px;
}

.radius {
  border-radius : 2px;
}

.bar-container {
  padding : 5px;
  border-radius : 4px;
  background : #fff;
}

.bar {
  height : 20px;
  border-radius : 3px;
}

.red {
  background : #ec0856;
}

.blue {
  background : #0989e7;
}

@media (max-width: 768px){
  #skillsbar {
      margin-left : 5px;
      margin-right : 5px;
  }
}

.education {
  width : 100%;
  display : block;
  padding-top : 40px;
  padding-bottom : 50px;
}

#timeline {
  position : relative;

}

.t-container {
  margin-top : 50px;
  width : 100%;
}

#timeline::before {
  content : '';
  position : absolute;
  left : 49px;
  height : 80%;
  width : 4px;
  background : #d7e4ed;
}

.timeline-block::after {
    content: '';
    display: table;
    clear: both;
}

.timeline-block {
  position : relative;
  margin : 2em 0;
}

.timeline-img {
  position : absolute;
  width : 100px;
  height : 100px;
  border-radius : 50%;
  box-shadow: 0 0 0 4px white;
}

.timeline-img img {
  left : 19px;
  top : 18px;
  position : relative;
}

.purple {
  background : #580183;
}

.timeline-content {
  margin-left : 135px;
  position : relative;
  background : #222930;
  border-radius : 5px;
  padding : 1em;
}

.timeline-content h2 {
  margin-top : 0;
}

.timeline-content h3{
  margin-top : 0;
  margin-bottom : 13px;
}

.date {
  font-size: 15px;
  font-style: italic;
  font-weight : 100;
  opacity: .7;
}

@media (max-width : 750px) {
  .timeline-content h2 {
    font-size : 20px;
    font-weight : 100;
  }

  .timeline-content h3{
    font-size : 17px;
    font-weight : 100;
  }
}